body{
  background-color: #faf1e6;
  align-self: center;
}
hr{
  border-color: #e4efe7;
  border-width: 10px ;
  border-style: dotted none none ;

width: 10% ;
}
h1
{
  color: #064420;
}
h2
{
  color: #064420;
}
h3
{
  color: #064420;
}
